<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceWarriorMani.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0DFD4942027B1750028C7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DFD4AE2027B1760028C7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DFD4B92027B1760028C7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
